.main.container 
   h2.main__title About me
   .main__content 
      ul
         li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit numquam iure, cumque dolores est delectus iste obcaecati, 
         li Lorem ipsum dolor sit amet consectetur,
      p Lorem ipsum dolor sit amet consectetur, 
      p ipsum dolor sit amet consectetur


